<html>
<head><title>add</title></head>
<body>
<form action="">
	$!msg.getMessage('lhs')
	<input type="text" name="lhs" value="$lhs"/>
	+
	$!msg.getMessage('rhs')
	<input type="text" name="rhs" value="$rhs"/>
	= $ret
	<input type="submit" value="add"/>
</form>
</body>
</html>
