<html>
<head><title>$actionName Employee</title></head>
<body>
$!msg.getErrors()

<form action="$actionName" method="POST">
<input type="hidden" name="cadhelin_redirect_to" value="$cadhelin_redirect_to">
<input type="hidden" name="empno" value="$!employee.empno"/>
	<table>
		<tbody>
			<tr>
				<td>name</td>
				<td>#if($actionName == "add")
					<input type="text" name="name" value="$!employee.name"/> $!msg.getError('name')
					#else
					<input type="hidden" name="name" value="$!employee.name"/>	$!employee.name
					#end
				</td>
			</tr>
			<tr>
				<td>Department</td>
				<td><select name="deptno">
				#foreach($dept in $departmentDao.allDepartment)
					<option value="$dept.deptno" #if($dept.deptno == $!employee.deptno) selected #end>$dept.name</option>
				#end
				</select>
				</td>
			</tr>
			<tr>
				<td>date</td>
				<td>
				$dateFormat.format($!employee.date) 
					Year:
					<select name="date_year">
						$dateUtils.getYearOption(2005,2030,$!employee.date)
					</select>
					Month:
					<select name="date_month">
						$dateUtils.getMonthOption($!employee.date)
					</select>
					Date:
					<select name="date_date">
						$dateUtils.getDateOption($!employee.date)
					</select>
						<option value="2000"></option></select> $!msg.getError('date')</td>
			</tr>
			<tr>
				<td></td>
				<td><input type="submit" value="add"/></td>
			</tr>
		</tbody>
	</table>
</form>
</body>
</html>