<html>
<head><title>Employee List</title></head>
<body>
<table>
<tbody>
<tr><th>empno</th><th>name</th><th>date</th><th>DEPT</th><th></th></tr>
#foreach($emp in $employees)
<tr>
	<td>$emp.empno</td>
	<td>$emp.name</td>
	<td>$dateFormat.format($emp.date)</td>
	<td>$departmentDao.getDepartment($emp.deptno).name</td>
	<td>
		#if($link.authorized('employee','delete'))
		<a href="$link.employee.showDelete($emp.empno)">delete</a>
		#end
		<a href="$link.employee.showUpdate($emp.empno)">update</a>
	</td>
	
</tr>
#end
</tbody>
</table>
<a href="$link.employee.showAdd()">Add Employee</a>
</body>
</html>