<html>
	<head>
		<title>Controller($controller.name)</title>
	</head>
	<body>
		<h1>Controller($controller.name)</h1>
		<table>
			<tr>
				<th>Action Name</th>
				<th>HTTP Method</th>
				<th>Method Name</th>
				<th>Parameters</th>
			</tr>
		#foreach($actionMetadata in $controller.getActionMetadata())
			#foreach($actionMetadatum in $actionMetadata)
		<tr>
			<td>$actionMetadatum.name</td>
			<td>$actionMetadatum.httpMethod</td>
			<td>$actionMetadatum.method.name</td>
			<td>
			#foreach($converter in $actionMetadatum.converters)
				<a href="$link.helper.parameterConvertor($controllerName,$actionMetadatum.httpMethod,$actionMetadatum.name,$velocityCount)">
					$converter.parameterType $converter.parameterName</a><br/>
			#end
			</td>
		</tr>
			#end
		#end
		</table>
	</body>
</html>