<html>
	<head>
		<title>Controller($controller.name)</title>
<style type="text/css">
  table td { background-color: #F0F0F0; }
  table th { background-color: #F0FFF0; }
</style>
	</head>
	<body>
		<h1>Controller($controller.name)</h1>
		<div id="navigation">
			<a href="$link.helper.showControllers()">Controller List</a>
		</div>
		<table>
			<tr>
				<th>Action Name</th>
				<th>HTTP Method</th>
				<th>Method Name</th>
				<th>Parameters</th>
			</tr>
		#foreach($actionMetadata in $controller.getActionMetadata())
			#foreach($actionMetadatum in $actionMetadata)
		<tr>
			<td>
				#if($actionMetadatum.isGetAndNoParam())
				<a href="$link.getLink($controller.name,$actionMetadatum.methodName,$null)">$actionMetadatum.name</a>
				#else
				$actionMetadatum.name
				#end</td>
			<td>$actionMetadatum.httpMethod</td>
			<td>$actionMetadatum.method.name</td>
			<td>
			#foreach($converter in $actionMetadatum.converterMetadata)
				<a href="$link.helper.showParameterConvertor($controllerName,$actionMetadatum.methodName,$velocityCount)">
					$converter.parameterType.name $converter.parameterName</a><br/>
			#end
			</td>
		</tr>
			#end
		#end
		</table>
		<form action="$link.helper.doSaveController()" method="POST">
			<input type="hidden" name="controllerName" value="$controllerName">
			<input type="submit" value="Save Controller Settings">
		</form>
	</body>
</html>