<html>
	<head><title>Parameter($parameterConvertor.parameterName)</title>
	<style type="text/css">
  table td { background-color: #F0F0F0; }
  table th { background-color: #F0FFF0; }
</style>
	</head>
	<body>
	<form action="parameterConvertor" method="POST">
		<input type="hidden" name="controllerName" value="$controllerName">
		<input type="hidden" name="methodName" value="$methodName">
		<input type="hidden" name="actionName" value="$actionName">
		<input type="hidden" name="paramNum" value="$paramNum">
		<dl>
			<dt>Parameter Name</dt>
			<dd>$parameterConvertor.parameterName</dd>
			<dt>Parameter Type</dt>
			<dd>$parameterConvertor.parameterType</dd>
			<dt>Required</dt>
			<dd><input type="checkbox" name="required" value="true" #if($parameterConvertor.required)checked#end/> </dd>
		</dl>
		<table>
		#foreach($metadata in $parameterConvertor.validatorMetadata)
			<tr><td>$metadata.validatorName</td><td>$metadata.shortDescription</td></tr>
			#foreach($pm in $metadata.propertyMetadatas)
			#if($pm.isReadWritable())
			<tr><td>$pm.name</td><td>$pm.shortDescription</td><td><input type="test" name="$pm.name" value="$!pm.value"</td></tr>
			#end
			#end
		#end
		</table>
		#foreach($convetor in $parameterConvertor.childConvertors)
		<dl>
			<dt>Parameter Name</dt>
			<dd>$convetor.parameterName</dd>
			<dt>Parameter Type</dt>
			<dd>$convetor.parameterType</dd>
			<dt>Required</dt>
			<dd><input type="checkbox" name="required" value="true" #if($convetor.required)checked#end/> </dd>
		</dl>
		<table>
		#foreach($metadata in $convetor.validatorMetadata)
			<tr><td>$metadata.validatorName</td><td>$metadata.shortDescription</td></tr>
			#foreach($pm in $metadata.propertyMetadatas)
			#if($pm.isReadWritable())
			<tr><td>$pm.name</td><td>$pm.shortDescription</td><td><input type="test" name="$pm.name" value="$!pm.value"</td></tr>
			#end
			#end
		#end
		</table>
		#end
	<input type="submit" value="update">
	</form>
	</body>
</html>