#macro(converterForm $converter)
	<table>
		<tr>
			<th>Converter Name</th>
			<th>Parameter Name</th>
			<th>Parameter Type</th>
		</tr>
		<tr>
			<td>$converter.name</td>
			<td>$converter.parameterName</td>
			<td>$converter.parameterType.name</td>
		</tr>
		#foreach($pm in $converter.propertyMetadatas)
			#if($pm.isEditable())
			<tr>
				<td>$pm.name</td>
				<td>$pm.shortDescription</td>
				<td>$this.getEditor($pm,"name='${converter.parameterName}_${pm.name}'")</td>
			</tr>
			#end
		#end
		#foreach($metadata in $converter.validatorMetadata)
			<tr>
				<td>$metadata.validatorName</td>
				<td>$metadata.shortDescription</td>
				<td><input type="submit" name="deleteValidator" value="Delete Validator" onClick="setDeleteValidator('${converter.parameterName}_${velocityCount}');"></td>
			</tr>
			#foreach($pm in $metadata.propertyMetadatas)
			#if($pm.isReadWritable())
			<tr>
				<td>$pm.name</td>
				<td>$pm.shortDescription</td>
				<td><input type="text" name="${converter.parameterName}_${metadata.validatorName}_${pm.name}" value="$!pm.value"/></td></tr>
			#end
			#end
		#end
		</table>
		#set($validators = $validatorFactory.getValidatorsFor($converter.parameterType))
		#if($validators && $validators.size() > 0)
			<select id="validator_$converter.parameterName">
				<option>----</option>
			#foreach($validator in $validators)
				<option value="${converter.parameterName}_$velocityCount">$validator.validatorName</option>
			#end
			</select>
			<input type="submit" name="addValidator" value="Add Validator" onClick="setAddValidator('validator_$converter.parameterName');">
		#end
#end
<html>
	<head><title>Parameter($parameterConvertor.parameterName)</title>
	<style type="text/css">
  table td { background-color: #F0F0F0; }
  table th { background-color: #F0FFF0; }
	</style>
<script language="JavaScript" type="text/javascript">
<!--
function $(arg) {
	return document.getElementById(arg);
}
function setAddValidator(id){
	var sel = $(id);
	$('validator').name  = 'validator';
	$('validator').value = sel.options[sel.selectedIndex].value;
}
function setDeleteValidator(id){
	$('validator').name  = 'validator';
	$('validator').value = id;
}

-->
</script>
	</head>
	<body>
	<h1>Converter of $methodName - $parameterConvertor.parameterName</h1>
	<div id="navigation">
		<a href="$link.helper.showControllers()">Controller List</a> &gt;&gt;
		<a href="$link.helper.showController($controllerName)">Action List</a>
	</div>
	<form action="parameterConvertor" method="POST">
		<input type="hidden" name="controllerName" value="$controllerName">
		<input type="hidden" name="methodName" value="$methodName">
		<input type="hidden" name="paramNum" value="$paramNum">
		<input type="hidden" id="validator">
		#converterForm($parameterConvertor)
		#foreach($convertor in $parameterConvertor.childConverterMetadata)
			#converterForm($convertor)
		#end
		<br>
	<input type="submit" value="update">
	</form>
	</body>
</html>